---
layout: default
title: London Rationalish Readings
---

<p><a href="https://github.com/sackeyjason/london-rationalish-readings">Source</a></p>

{% for meeting in site.data.list.meetings %}
<article>
  <h2>{{ meeting.date | date: "%Y-%m-%d" }}</h2>
  <ul>
  {% for article in meeting.list %}
    <li>
      <h3>{{ article.title }}</h3>
      <a href="{{ article.link }}">{{ article.link }}</a>
    </li>
  {% endfor %}
  </ul>
</article>
{% endfor %}

<p>This page was last updated at {{ "now" | date: "%Y-%m-%d %H:%M" }}.</p>
