---
layout: default
title: London Rationalish Readings
---

<p><a href="https://github.com/sackeyjason/london-rationalish-readings">Source</a></p>


{% for meeting in site.data.list.meetings %}
<article>
  <h2>
    <time datetime="{{ meeting.date | date: "%Y-%m-%d" }}">
      {{ meeting.date | date: "%Y %B %d" }}
    </time>
  </h2>
  <ol>
  {% for article in meeting.list %}
    <li>
      <h3>{{ article.title }}</h3>
      <a href="{{ article.link }}">{{ article.link }}</a>
    </li>
  {% endfor %}
  </ol>
</article>
{% endfor %}

<p>This page was last updated at
  <time datetime="{{ "now" | date: "%Y-%m-%d %H:%M" }}">{{ "now" | date: "%Y-%m-%d %H:%M" }}</time>
</p>
