---
layout: 2020
title: London Rationalish Readings
---
<div style="grid-column-start: 1; grid-column-end: -1" class="years wide">
  <a href="#y2020">2020</a>
  <a href="#y2019">2019</a>
  <a href="#y2018">2018</a>
</div>
{% assign _year = "0" %}
{% for meeting in site.data.list.meetings %}
{% assign m_date = meeting.date | date: "%Y-%m-%d" %}
{% assign year = meeting.date | date: "%Y" %}
{% if year != _year %}
<div class="wide" id="y{{ year }}">
  <h2>{{ year }}</h2>
</div>
{% endif %}
<article id="m{{ m_date }}">
  <h3>
    <a href="#m{{ m_date }}"">
      <time datetime="{{ m_date }}">
        {{ meeting.date | date: "%Y %B %d" }}
      </time>
    </a>
  </h3>
  <ol>
  {% for article in meeting.list %}
    <li>
      <h4>{{ article.title }}</h4>
      <a href="{{ article.link }}">{{ article.link }}</a>
    </li>
  {% endfor %}
  </ol>
</article>
{% assign _year = year %}
{% endfor %}
