---
layout: 2020
title: London Rationalish Readings
---
<div style="grid-column-start: 1; grid-column-end: -1" class="years">
  <a href="y2018">2020</a>
  <a href="y2019">2019</a>
  <a href="y2020">2018</a>
</div>
{% assign _year = "0" %}
{% for meeting in site.data.list.meetings %}
{% assign m_date = meeting.date | date: "%Y-%m-%d" %}
{% assign year = meeting.date | date: "%Y" %}
<article id="m{{ m_date }}">
  {% if year != _year %}
  <div id="y{{ year }}"></div>
  {% endif %}
  <h2>
    <a href="#m{{ m_date }}"">
      <time datetime="{{ m_date }}">
        {{ meeting.date | date: "%Y %B %d" }}
      </time>
    </a>
  </h2>
  <ol>
  {% for article in meeting.list %}
    <li>
      <h3>{{ article.title }}</h3>
      <a href="{{ article.link }}">{{ article.link }}</a>
    </li>
  {% endfor %}
  </ol>
</article>
{% endfor %}
