<!doctype html>
<html lang="en">
<head>
<title>LRR</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="./favicon.ico" rel="icon" type="image/x-icon" />
<link rel="alternate" type="application/rss+xml" title="London Rationalish reading lists" href="https://sackeyjason.github.io/london-rationalish-readings/feed.xml" />
<link rel="alternate" type="application/rss+xml" title="London Rationalish articles" href="https://sackeyjason.github.io/london-rationalish-readings/articles-feed.xml" />
<link rel="stylesheet" href="./style2020.css" />
<script src="./script.js"></script>
<style id="themeStyle"></style>
</head>
<body>
  
<header class="p1 page-header">
  <h1 class="m0">{{ page.title }}</h1>
</header>

<div class="p1">
  <div class="grid-row">
    <aside class="sidebar">
      <div class="sidebar-content">
      <p class="m0">The
        <a href="https://www.facebook.com/groups/londonrationalish/">London Rationalish group</a>
        meets every two weeks and discusses articles, blog posts, essays, and stories.
      </p>
      <ul>
        <li><a href="https://github.com/sackeyjason/london-rationalish-readings">Page source code</a>
        <li>RSS feeds
          <ol>
            <li><a href="./feed.xml">RSS feed</a>
            <li><a href="./articles-feed.xml">Individual articles</a>
          </ol>
        <li><a href="./d.json">JSON</a>
        <li><a href="https://www.reddit.com/r/londonrationalish/">Subreddit [post links and vote]</a>
        <li><a href="https://sackeyjason.github.io/london-rationalish-readings/v1.html">Old page layout</a>
      </ul>
      <div id="uiControls"></div>
      <script>init()</script>
      <p>
        <small>Page last updated:
        <time datetime="{{ "now" | date: "%Y-%m-%d %H:%M" }}">{{ "now" | date: "%Y-%m-%d %H:%M" }}</time></small>
        </p></div>
    </aside>
    <main style="flex-grow: 1">
      {{ content }}
    </main>
  </div>
</div>
  
<footer class="container p1">
  <a href="#">⬆️ top</a>
</footer>

</body>
</html>

